h1{
    color: rgb(145, 127, 102);
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(145, 127, 102);
}
 h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(145, 127, 102);
 }

